@import "../CommonStyles/mixins.scss";


.sign-up {

  &__header {
    @include pageHeaders;
  }

  &__text-sign-in {
    @include pageFooterText
  }

  &__link-sign-in {
    @include pageFooterLink 
  }

  &__form {
    @include form(580px);
  
    &-labels {
      @include formLabel
    }
  
    &-inputs {
      @include formInput
    }
  
    &-submit {
      @include formButton;
    }
  }

  &__wrong-fields {
    background: #ffdae0;
  }

  &__icon-eye {
    @include iconEye
  }

  &__icon-question {
    position: absolute;
    margin-left: 290px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    margin-top: -28px;
    cursor: pointer;
  }

  [data-tooltip]::after {
    content: attr(data-tooltip);
    position: relative;
    background: #27273a;
    height: 55px;
    width: 220px;
    right: 190px;
    border-radius: 8px;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 14px;
    display: none;
    letter-spacing: -0.4px;
    color: #F3F3F3;
  }

  [data-tooltip]:hover::after {
    display: flex;
    align-items: center;
    text-align: center;
    top: -80px;
   }
}

.error-message {
  position: absolute;
  margin-left: 55px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #FF6683;
}