.sign-up {
  height: 655px;
  width: 302px;
  background-color: #faf3f3;

  &__header {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #181c43;
    padding-top: 63px;
    margin-bottom: 20px;
  }

  &__text-sign-in {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1e1a3e;
    margin: 25px auto 0;
  }

  &__link-sign-in {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1e1a3e;
    margin: auto;
  }

  &__form {
    height: 440px;
    width: 275px;
    border-radius: 40px;
    background: #fff;
    border-radius: 40px;
    margin: auto;
  
    &-labels {
      display: block;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.8);
      margin-left: 40px;
      margin-bottom: 3px;
      padding-top: 24px;
    }
  
    &-inputs {
      display: block;
      height: 34px;
      width: 210px;
      border-radius: 50px;
      background: #f3f3fa;
      border-radius: 50px;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.8);
      border: none;
      margin: auto;
      padding-left: 18px;
      outline: none;
    }
  
    &__submit {
      display: block;
      height: 48px;
      width: 229px;
      background: #1E1A3E;
      border-radius: 50px;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      margin: 39px auto;
    }
  }
}