@import "../CommonStyles/mixins.scss";

.sign-in {
  &__header {
    @include pageHeaders;
  }

  &__text-sign-up {
    @include pageFooterText
  }

  &__link-sign-up {
    @include pageFooterLink
  }

  &__wrong-message {
    height: 58px;
    text-align: center;
    width: 370px;
    background: #FF6683;
    border-radius: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 58px;
    color: #fff;
    margin: 140px auto 0;
  }

  &__button-x {
    position: absolute;
    margin: 15px 20px;
    color: #fff;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__icon-eye {
    @include iconEye
  }
}

.form {
  @include form(380px);

  &__labels {
    @include formLabel
  }

  &__inputs {
    @include formInput
  }

  &__submit {
    @include formButton
  }

  &__wrong-fields {
    background: #ffdae0;
  }
}