@import "../CommonStyles/mixins.scss";

.home {
  &__header {
    height: 60px;
    width: 300px;
    @include pageHeaders;
  }

  &__text {
    height: 40px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #3e4462;
    margin: 50px auto 0;
  }

  &__button {
    margin-top: 60px;
    outline: none;
    cursor: pointer;

    &-container {
      display: flex;
      justify-content: center;
    }

    &--sign-up {
      display: inline-block;
      height: 58px;
      width: 150px;
      margin-right: 25px;
      border: none;
      border-radius: 50px;
      background: #fff;
      border-radius: 50px;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      color: #000;
      background-image: linear-gradient(45deg, #000 50%, transparent 50%);
      background-position: 100%;
      background-size: 400%;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-position: 0;
        color: #fff;
      }
    }

    &--sign-in {
      display: inline-block;
      background-image: url(../Images/IconArrow.png);
      background: #1e1a3e;
      border: none;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      line-height: 8px;
      transition: 0.5s;

      &:hover {
        transform: rotate(360deg) scale(1.2);
      }
    }
  }
}