

body, h2 {
  margin: 0;
}

html {
  background-color: #faf3f3;
}

.app {
  &__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
    margin: auto;
  }
}